<%= form_with model: @target, local: true do |f|%>
  <div class="plan-field">
    <%= f.label :goal_weight, "目標体重" %><br />
    <%= f.text_field :goal_weight %> kg
  </div>

  <div class="plan-field">
    <%= f.label :period_id, "期間" %><br />
    <%= f.collection_select(:period_id, Period.all, :id, :name, {}, {class:"select-box", id:"period-category"}) %>
  </div>

  <div class="plan-field">
    <%= f.label :plan, "プラン" %><br />
    <%= f.text_area :plan, class: :form__text %>
  </div>

  <div class="plan-actions">
    <%= f.submit "保存", class: :plan_form__btn  %>
  </div>
<% end %>

<%= link_to "戻る", targets_path, class: :back_target_index %>