<%#ヘッダー%>
<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to image_tag("logo.png", class: :header_logo), root_path %>
      </div>
      <% if user_signed_in? %>
         <div class="nav__right">
          <%= link_to current_user.nickname, edit_user_registration_path, class: :nav__nickname %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
        </div>
      <% end %>
    </div>
  </div>
</header>
<%#インプットエリア%>
<%= form_with model: @record, url: records_path, local: true do |f| %>
<div class="main-wrapper">
  <div class="input-contents">
    <div class="form-top">
      <p class="input-message">入力してください</p>
    </div>
    <div class="form-middle">
      <div class="form-content">
        <p class="input-list">日付</p>
        <div class="input-area">
           <%= f.date_select :input_day %>
        </div>
      </div>
      <div class="form-content">
        <p class="input-list">体重</p>
        <div class="input-area">
        <%= f.text_field :weight, class:"input-weight", id:"weight", placeholder:"例) 80.25", maxlength:"5" %>
        kg
        </div>
      </div>
      <div class="form-content">
        <p class="input-list">体脂肪率</p>
        <div class="input-area">
        <%= f.text_field :body_fat, class:"input-body-fat", id:"boby_fat", placeholder:"例) 22.55", maxlength:"5" %>
        %</div>
      </div>
      <div class="form-content">
        <p class="input-list">Plan達成度</p>
        <div class="input-area">
          <%= f.select :assessment_id, [ ["○",1], ["△",2], ["×",3] ], prompt: "達成度を選択" %>
        </div>
      </div>
    </div>
    <div class="form-bottom">
      <div class="memo-contents">
        <p class="memo-list">メモ</p>
        <div class="memo-area">
          <%= f.text_area :memo, class:"form-memo", id:"memo", placeholder:"３０文字以内で入力してください", maxlength:"30" %>
        </div>
      </div>
      <div class="contents-submit-content">
        <%= f.submit "SEND" ,class:"contents-submit-btn" %>
      </div>
    </div>
  </div>
  <% end %>
<%#グラフエリア%>
  <div class="output-contents">
    グラフエリア
    <%= link_to "プランを確認", user_path(current_user) %>
  </div>

<%#メッセージエリア%>
  <div class="message-top">
      メッセージ
  </div>
  <div class="messages-contents">
    <div class="message-main">
      <div class="message-set"> 
        <div class="message-name">いわと</div>
        <div class="message-date">2021-07-05 20:00</div>
      </div>
        <div class="message">おはようございます。今日も暑いですが、一生懸命頑張りましょうね！応援しております♪</div>
    </div>
    <div class="message-main">
      <div class="message-set"> 
        <div class="message-name">いわと</div>
        <div class="message-date">2021-07-06 20:00</div>
      </div>
        <div class="message">お疲れ様です。今日はいかがでしたか！？体重などの入力待っています！</div>
    </div>
    <div class="message-main">
      <div class="message-set"> 
        <div class="message-name">いわと</div>
        <div class="message-date">2021-07-07 20:00</div>
      </div>
        <div class="message">お疲れ様です。今日で３日目ですね。あと、今日は七夕です！目標をしっかり持っていきましょうね！</div>
    </div>
    <div class="message-main">
      <div class="message-set"> 
        <div class="message-name">いわと</div>
        <div class="message-date">2021-07-08 20:00</div>
      </div>
        <div class="message">お疲れ様です。今日で4日目ですね。今日もよろしくお願いします！</div>
    </div>
  </div>
  <div class="chat-message-form">
    <div class="chat-message-area"> 
      <input class="form-message" placeholder= "テキストを入力してください">
    </div>
    <div class="chat-submit-content">
          <input class="chat-submit-btn" type="submit" value="送信">
    </div>
  </div>

  <%#予約機能エリア%>
    <div class="reservation-top">
      面談予約
    </div>
  <div class="reservations-contents">
    <div class="reserved-date">
      面談予約済みの日時：  2021-07-16  13:00
    </div>
    <div class="reservation-bottom">
      <div class="reservation-input-form">
        予約希望日時：アクティブハッシュで実装
      </div>
      <div class="reservation-submit-content">
        <input class="reservation-submit-btn" type="submit" value="予約">
      </div>
    </div>
  </div>
</div>
