<div class="wrapper">
  <%# 左サイドコンテンツ%>
  <div class="left-side">
    <%= image_tag("logo.png", class: :logo) %>
    <%= image_tag("top.jpg", class: :top_img)%>
  </div>

  <%# 右サイドコンテンツ%>
  <div class="right-side">
    <h2 class="log-in-top">Log in</h2>
    <div class="form-contents">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: :field_label %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :text_field %>
          </div>
        
          <div class="field">
            <%= f.label :password, class: :field_label %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: :text_field %>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        
          <div class="actions">
            <%= f.submit "Log in", class: :log_in_btn %>
          </div>
          <h2 class="new-registration-title">新規登録はこちら</h2>
          <div class="new-registration-area">
            <%= link_to "新規会員登録",  new_user_registration_path, class: :new_registration_btn %><br />
          </div>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end %>
    </div>
  </div>
</div>